@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Poppins", serif;
}

img {
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* main */
.container {
  min-height: 100vh;
  width: 100%;
  background: #7eadf7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  background: #fff;
  border-radius: 25px;
  height: 550px;
  width: 800px;
  position: relative;
  overflow: hidden;
}

.side-form {
  background: #3381ff;
  height: 100%;
  width: 50%;
  border-radius: 25px 30% 30% 25px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  overflow: hidden;
}

.login-text {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.register-text {
  position: absolute;
}

@keyframes registerActive {
  50% {
    width: 100%;
    border-radius: 25px;
  }
  
  100% {
    width: 50%;
    left: auto;
    right: 0;
    border-radius: 30% 25px 25px 30%;
  }
}

@keyframes registerSlideOut {
  0% {
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
  }
  
  100% {
    position: absolute;
    transform: translateX(-200%);
    opacity: 0;
    pointer-events: none;
  }
}

@keyframes registerSlideIn {
  0% {
    transform: translateX(200%);
    opacity: 0;
    pointer-events: auto;
  }
  
  100% {
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
  }
}

@keyframes loginActive {
  0% {
    width: 50%;
    left: auto;
    right: 0;
    border-radius: 30% 25px 25px 30%;
  }
  
  50% {
    width: 100%;
    border-radius: 25px;
  }
  
  100% {
    width: 50%;
    right: auto;
    left: 0;
    border-radius: 25px 30% 30% 25px;
  }
}

@keyframes loginSlideOut {
  0% {
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
  }
  
  100% {
    transform: translateX(200%);
    opacity: 0;
    pointer-events: none;
  }
}

@keyframes loginSlideIn {
  0% {
    transform: translateX(-200%);
    opacity: 0;
  }
  
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.register-text h1,
.register-text p,
.login-text h1,
.login-text p {
  color: #fff;
  margin: 10px;
}

.register-text h1,
.login-text h1 {
  font-size: 38px;
}

.register-text p,
.login-text p {
  font-size: 12px;
}

.register-text button,
.login-text button {
  color: #fff;
  border: 1px solid #fff;
  padding: 10px 40px;
  border-radius: 5px;
  margin: 5px;
}

.content form {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
}

.form-content.login h1,
.form-content.login p,
.form-content.register h1, 
.form-content.register p {
  text-align: center;
}

.form-content.login p,
.form-content.register p {
  font-size: 14px;
  margin: 5px 0;
}

.form-content.login .form-group,
.form-content.register .form-group {
  margin: 18px 0;
  position: relative;
}

.form-content.login .form-group label,
.form-content.register .form-group label {
  position: absolute;
  right: 0;
  min-height: 100%;
  margin: 0 10px;
  display: flex;
  align-items: center;
}

.form-content.login .form-group label i,
.form-content.register .form-group label i {
  color: #333;
  font-size: 20px;
}

.form-content.login .form-group input,
.form-content.register .form-group input {
  width: 300px;
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  outline: none;
  background: rgba(220, 226, 238, 0.69);
}

.form-content.login .login,
.form-content.register .sign-up {
  width: 100%;
  background: #3381ff;
  border-radius: 5px;
  padding: 10px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border: none;
  outline: none;
  margin: 5px 0;
}

.form-content.login .third-party,
.form-content.register .third-party {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
}

.form-content.login .third-party button,
.form-content.register .third-party button {
  margin: 5px 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

.form-content.login .third-party button i,
.form-content.register .third-party button i {
  font-size: 20px;
}
/* breakpoints */
@media screen and (max-width: 850px) {
  .content {
    width: 700px;
  }
}

@media screen and (max-width: 750px) {
  .content {
    width: 90%;
    height: auto;
    flex-direction: column;
  }

  .side-form {
    width: 100%;
    height: 50%;
    position: relative;
    border-radius: 25px 25px 0 0;
    padding: 30px;
    top: auto;
  }
  
  .register-text {
    position: static;
  }

  .content form {
    width: 100%;
    padding: 30px 0 10px;
    flex-direction: column;
  }
  
  .form-content.register {
    display: none;
  }
  
  .form-content.register.active {
    display: block;
    opacity: 1;
    pointer-events: auto;
  }
  
  .register-text.active {
    display: none;
  }
  
  .login-text.active {
    position: static;
    opacity: 1;
    pointer-events: auto;
  }
    
  .form-content.login.active {
    display: none;
  }
    
}

@media screen and (max-width: 480px) {
  .register-text h1,
  .login-text h1 {
    font-size: 30px;
  }
}

@media screen and (max-width: 375px) {
  .form-content.login .form-group input,
  .form-content.register .form-group input{
    width: 250px;
  }

  .register-text h1,
  .login-text h1 {
    font-size: 24px;
  }

  .register-text p,
  .login-text p {
    font-size: 11px;
  }
}
