@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Poppins", serif;
}

img {
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* CSS Reset */

/* Main */
.container {
  min-height: 100vh;
  width: 100%;
  background: #7eadf7;
  display: flex;
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
}

.content {
  background: #fff;
  border-radius: 25px;
  height: 530px;
  width: 800px;
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  overflow: hidden;
}

.content form {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
}

.form-content-login h1,
.form-content-login p,
.form-content-register h1,
.form-content-register p {
  text-align: center;
}

.form-content-login p,
.form-content-register p {
  font-size: 14px;
}

.form-content-login .form-group,
.form-content-register .form-group {
  margin: 20px 0;
  position: relative;
}

.form-content-login .form-group label,
.form-content-register .form-group label {
  position: absolute;
  right: 0;
  min-height: 100%;
  margin: 0 10px;
  display: flex;
  align-items: center;
}

.form-content-login .form-group label i,
.form-content-register .form-group label i {
  color: #333;
  font-size: 20px;
}

.form-content-login .form-group input,
.form-content-register .form-group input {
  width: 300px;
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  outline: none;
  background: rgba(220, 226, 238, 0.69);
}

.btn-login,
.btn-register {
  width: 100%;
  background: #3381ff;
  border-radius: 5px;
  padding: 10px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border: none;
  outline: none;
}

.btn-login {
  margin: 15px 0;
}

.btn-register {
  margin: 0 0 10px;
}

.login-third-party,
.register-third-party {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
}

.login-third-party button,
.register-third-party button {
  margin: 5px 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

.login-third-party button i,
.register-third-party button i {
  font-size: 20px;
}

.form-side {
  background: #3381ff;
  height: 100%;
  width: 50%;
  border-radius: 25px 30% 30% 25px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  overflow: hidden;
}

.register-content h1,
.register-content p,
.login-content h1,
.login-content p {
  color: #fff;
  margin: 10px;
}

.register-content h1,
.login-content h1 {
  font-size: 38px;
}

.register-content p,
.login-content p {
  font-size: 12px;
}

.register-content button,
.login-content button {
  color: #fff;
  border: 1px solid #fff;
  padding: 10px 40px;
  border-radius: 5px;
  margin: 5px;
}

.form-content-login {
  animation: slideRightToLeft 1s ease-in-out forwards;
}

.form-content-register {
  opacity: 0;
  pointer-events: none;
}

.register-content {
  position: absolute;
  animation: slideLeftToRight 1s ease-in-out forwards;
}

.login-content {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
/* Main */

/* Animation */
@keyframes slideRightToLeft {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
    pointer-events: all;
  }
}

@keyframes bigSlideRightToLeft {
  0% {
    transform: translateX(200%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
    pointer-events: all;
  }
}

@keyframes slideLeftToRight {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
    pointer-events: all;
  }
}

@keyframes bigSlideLeftToRight {
  0% {
    transform: translateX(-200%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
    pointer-events: all;
  }
}

@keyframes fullToRight {
  0% {
    width: 50%;
  }

  50% {
    width: 100%;
    border-radius: 25px;
  }

  100% {
    width: 50%;
    left: auto;
    right: 0;
    border-radius: 30% 25px 25px 30%;
  }
}

@keyframes fullToLeft {
  0% {
    width: 50%;
    left: auto;
    right: 0;
    border-radius: 30% 25px 25px 30%;
  }

  50% {
    width: 100%;
    border-radius: 25px;
  }

  100% {
    width: 50%;
    left: 0;
    right: auto;
    border-radius: 25px 30% 30% 25px;
  }
}

@keyframes slideToRight {
  0% {
    transform: translateX(0);
    opacity: 1;
  }

  100% {
    transform: translateX(200%);
    opacity: 0;
  }
}

@keyframes slideToLeft {
  0% {
    transform: translateX(0);
    opacity: 1;
  }

  100% {
    transform: translateX(-200%);
    opacity: 0;
  }
}
/* Animation */

/* Breakpoints */
@media screen and (max-width: 850px) {
  .content {
    width: 700px;
  }
}

@media screen and (max-width: 750px) {
  .content {
    width: 90%;
    height: auto;
    flex-direction: column;
  }

  .form-side {
    width: 100%;
    position: relative;
    border-radius: 25px 25px 0 0;
    padding: 30px;
  }

  .content form {
    width: 100%;
    padding: 35px 0 10px;
    position: relative;
  }

  .form-content-register {
    opacity: 0;
    position: absolute;
    bottom: 0;
    pointer-events: none;
    z-index: 1;
  }

  .register-content {
    position: static;
  }

  .login-content {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }
}

@media screen and (max-width: 480px) {
  .register-content h1,
  .login-content h1 {
    font-size: 30px;
  }
}

@media screen and (max-width: 375px) {
  .form-content-login .form-group input,
  .form-content-register .form-group input {
    width: 250px;
  }

  .register-content h1,
  .login-content h1 {
    font-size: 24px;
  }

  .register-content p,
  .login-content p {
    font-size: 11px;
  }
}
